p {
    font-size: 20px;
}

.Montserrat {
    font-family:montserrat;
}

.Roboto{
    font-family:Roboto;
}

.Raleway {
    font-family:Raleway;
}

.Nunito {
    font-family:Nunito;
}

.Lora {
    font-family:Lora;
}

.jost {
    font-family:jost;
}

.Bitter {
    font-family:Bitter;
}

.Poly {
    font-family:Poly;
}

.Tienne {
    font-family:Tienne;
}

.family {
    font-family: 'family';
}

.Arvo {
    font-family: 'Arvo';
}